# Task 4.8

 # Step 1

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing orders data - using os library
path = r'C:\Users\35196\Documents\Alexandra\Data Analytics Program\02 Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis'

ords_prods_merge =pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined_derived.pkl'))

In [5]:
ords_prods_merge.shape

(32404859, 20)

# Step 2

In [3]:
# aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Step 3

The results differ quite a lot from the subset to the entire dataframe, mainly due to the number of entries, in the subset we considered only 1.000.000 rows and now we are considering full dta, 32.404.859 (32x more entries). Now we have information for all departments (in the subset only 8 departments were shown)

The average number of orders by department changed and now we know the real average observed in the Instacart customers.
The department with higher average number of orders is 21, however this a missing department.
The second higher average department is 10 - bulk.
The department with lower average number of orders is 5 - alcohol.

# Step 4

In [12]:
# creating a loyalty flag for existing customers using the transform() function

In [4]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\35196\AppData\Local\Temp\ipykernel_11636\1681540670.py:1: FutureWarning: The provided callable <function max at 0x0000022842A953A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
# Checking
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,2,473747,1,prior,3,3,12,21.0,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,4,431534,1,prior,5,4,15,28.0,196,1,...,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10

In [8]:
ords_prods_merge['max_order'].value_counts()

max_order
99    1171333
8      811843
6      811396
9      810213
7      803979
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [14]:
# creating a loyalty flag for existing customers using the loc() function with same criteria in the exercise
# If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
# If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
# If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [5]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
# Checking 
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer

In [11]:
ords_prods_merge['loyalty_flag'].value_counts()

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

# Step 5

In [6]:
# Check the basic statistics of the product prices for each loyalty category
# use groupby and agg() 
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Loyal customers pay a average lower price than the other customers (new customer and regular customer). Loyal customers pay on average 3 dolares less than new customers.

# Step 6

In [15]:
 # Create a spending flag for each user based on the average price across all their orders using the following criteria:
 # If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
 # If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [7]:
# Create a column for average order
ords_prods_merge['avg_spender'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\35196\AppData\Local\Temp\ipykernel_11636\3817897935.py:2: FutureWarning: The provided callable <function mean at 0x0000022842A95DA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_spender'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
# Check the new column 'avg_spender'
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,department_id,prices,_merge,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,avg_spender
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,6.367797
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797
2,2,473747,1,prior,3,3,12,21.0,196,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797
4,4,431534,1,prior,5,4,15,28.0,196,1,...,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797

In [22]:
ords_prods_merge['avg_spender'].value_counts()

avg_spender
8.000000     10337
7.500000      9116
8.100000      8254
7.750000      7048
7.400000      7044
             ...
13.800000        3
10.266667        3
2.700000         3
5.600000         3
12.200000        3
Name: count, Length: 128637, dtype: int64

In [8]:
# Create a flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['avg_spender'] < 10, 'spender_flag'] = 'Low_spender'

In [9]:
ords_prods_merge.loc[ords_prods_merge['avg_spender'] >= 10, 'spender_flag'] = 'High_spender'

In [27]:
# Check new spender flag

In [26]:
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,_merge,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,avg_spender,spender_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,6.367797,Low_spender
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797,Low_spender
2,2,473747,1,prior,3,3,12,21.0,196,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797,Low_spender
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797,Low_spender
4,4,431534,1,prior,5,4,15,28.0,196,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797,Low_spender

In [10]:
ords_prods_merge['spender_flag'].value_counts()

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

# Step 7

In [29]:
# Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
#If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [11]:
# Create a column for median in the “days_since_prior_order” column
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\35196\AppData\Local\Temp\ipykernel_11636\1705989593.py:2: FutureWarning: The provided callable <function median at 0x0000022842BD5C60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [31]:
# Check the new column 'median_days_since_prior_order'
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,avg_spender,spender_flag,median_days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,6.367797,Low_spender,20.5
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797,Low_spender,20.5
2,2,473747,1,prior,3,3,12,21.0,196,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797,Low_spender,20.5
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,both,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797,Low_spender,20.5
4,4,431534,1,prior,5,4,15,28.0,196,1,...,both,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797,Low_spender,20.5

In [12]:
ords_prods_merge['median_days_since_prior_order'].value_counts()

median_days_since_prior_order
7.0     5682399
6.0     2983604
8.0     2713964
5.0     2486061
4.0     2314289
         ...
27.5       5599
26.5       5514
29.5       5095
1.5        1684
0.5         235
Name: count, Length: 61, dtype: int64

In [13]:
# Create a flag for Non-frequent customer, Regular customer and Frequent customer
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [14]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [15]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [37]:
# Check new spender flag
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,avg_spender,spender_flag,median_days_since_prior_order,frequency_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,6.367797,Low_spender,20.5,Non-frequent customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797,Low_spender,20.5,Non-frequent customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797,Low_spender,20.5,Non-frequent customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,6.367797,Low_spender,20.5,Non-frequent customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,6.367797,Low_spender,20.5,Non-frequent customer

In [16]:
ords_prods_merge['frequency_flag'].value_counts()

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

In [17]:
# Additional step
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

# Step 9

In [18]:
#Export dataframe as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_aggregated.pkl'))